@model EmployeeManagementNetCore.Models.Employee

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.PageTitle</title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>

    Name : @Model.Name
    Email : @Model.Email
    Department : @Model.Department
</body>
</html>